<div class="comment">
  <div class="create-date">
    <div class="comment-name">
      <%= message.user.name %>
    </div>
    <div class="comment-time">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="comment-message">
     <%= message.content %>
  </div>
</div>
